/* Styles for the main layout and background */

.parent {
  height: 100vh;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

/* Styles for the container holding image and buttons */

.container {
  display: flex; /* Keep row layout by default */
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .container {
    flex-direction: column; /* Stack image and buttons on smaller screens */
  }

  .image-container,
  .button_holder {
    flex: 1; /* Take up full width in each column */
  }
}

/* Styles for the heading (optional) */

.heading {
  margin: 45px;
}

/* Styles for the image container */

.image-container {
  margin: 40px;
  position: relative;
  flex: 0.7; /* Take up 70% of space on larger screens */
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%; /* Adjust image height as needed */
}

/* Styles for the button container */

.button_holder {
  flex: 0.3; /* Take up 30% of space on larger screens */
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

/* Styles for buttons */

button {
  background-color: #3498db; /* Blue color for the background */
  padding: 15px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  color: #fff; /* White text color */
  border: none; /* No border */
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Remove outline on click */
}

button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
  color: #fff; /* White text color on hover */
  transform: scale(1.05); /* Slight scale effect on hover */
}

/* Styles for a specific "download" button (optional) */

.download button {
  margin: 40px;
  background-color: red;
}

/* Styles for the main heading (optional) */

.main_heading {
  position: relative;
  display: inline-block;
  font-size: 28px;
  color: #333; /* Text color */
  overflow: hidden;
  border-bottom: 2px solid #ccc; /* Border color */
  padding-bottom: 4px; /* Add padding to create space around the text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.main_heading::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Background color */
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.main_heading:hover::before {
  transform: translateY(0);
}

/* Styles for horizontal line (optional) */

hr {
  border: 2px solid #000; /* Border color (black) */
  height: 4px; /* Thickness of the line */
  margin: 20px 0; /* Adjust margin as needed */
}

/* You can add more styles for additional customization */
